# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults

*.bak
logs/
*.suo
*.csproj.user
*.vcproj.*.user
*.vssscc
*.vspscc
*.*~
*.swp
Release/
Debug/
*.ncb
*.scc