@{
    ViewBag.Title = "Home Page";
}

  <script src="Scripts/jquery.signalR-0.5.3.min.js" type="text/javascript"></script>
  <script src="/signalr/hubs" type="text/javascript"></script>
  <script type="text/javascript">
  $(function () {
      // Proxy created on the fly
      var chat = $.connection.chat;
      
      // Declare a function on the chat hub so the server can invoke it
      chat.addMessage = function(message) {
          $('#messages').append('<li>' + message + '</li>');
      };
      
      $("#broadcast").click(function () {
          // Call the chat method on the server
          chat.send($('#msg').val());
      });
      
      // Start the connection
      $.connection.hub.start();
  });
  </script>

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>                
              <input type="text" id="msg" />
              <input type="button" id="broadcast" value="broadcast" />

              <ul id="messages">
              </ul>
            </p>
        </div>
    </section>
}
